<div class="tna-container">
  <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
          <div class="tna-accordion" data-multiselectable="true" data-module="tna-accordion">
            <div class="tna-accordion__item" data-isopen="true">
              <h3 class="tna-accordion__heading tna-heading-s">
                Search within results
              </h3>
              <div class="tna-accordion__body" id="-content-1">
                <div class="search-filters__form-block">
                  {{ tnaTextInput({
                    'label': '',
                    'headingLevel': 3,
                    'headingSize': 's',
                    'id': 'search-within',
                    'name': 'search_within',
                    'value': request.GET.get('search_within') or '',
                    'attributes': {
                      'form': 'search-form'
                    }
                  }) }}
                  <div class="tna-button-group tna-!--margin-top-xs">
                    {{ tnaButton({
                      'text': 'Submit',
                      'buttonElement': True,
                      'buttonType': 'submit',
                      'small': True,
                      'attributes': {
                        'form': 'search-form'
                      }
                    }) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="tna-accordion__item" data-isopen="true">
              <h3 class="tna-accordion__heading tna-heading-s">
                Dates
              </h3>
              <div class="tna-accordion__body" id="-content-1">
                <div class="tna-form__group">
                  <fieldset class="tna-form__fieldset">
                    <legend class="tna-form__legend">
                      For example, 27 3 2007 or 2007<br>
                      From:
                    </legend>
                      {{ tnaDateInput({
                        "label": "Enter a start date",
                        "headingLevel": 4,
                        "headingSize": "m",
                        "id": "date",
                        "name": "date"
                      }) }}
                    <div class="tna-date-input" id="date">
                      <div class="tna-date-input__item">
                        <label for="date-day" class="tna-date-input__item-label">
                          Day
                        </label>
                        <input type="text" id="date-day" value="" name="date-day" class="tna-date-input__item-input" inputmode="numeric">
                      </div>
                      <div class="tna-date-input__item">
                        <label for="date-month" class="tna-date-input__item-label">
                          Month
                        </label>
                        <input type="text" id="date-month" value="" name="date-month" class="tna-date-input__item-input" inputmode="numeric">
                      </div>
                      <div class="tna-date-input__item">
                        <label for="date-year" class="tna-date-input__item-label">
                          Year
                        </label>
                        <input type="text" id="date-year" value="" name="date-year" class="tna-date-input__item-input tna-date-input__item-input--wider" inputmode="numeric">
                      </div>
                    </div>
                    <legend class="tna-form__legend">
                      To:
                    </legend>
                    <div class="tna-date-input" id="date">
                      <div class="tna-date-input__item">
                        <label for="date-day" class="tna-date-input__item-label">
                          Day
                        </label>
                        <input type="text" id="date-day" value="" name="date-day" class="tna-date-input__item-input" inputmode="numeric">
                      </div>
                      <div class="tna-date-input__item">
                        <label for="date-month" class="tna-date-input__item-label">
                          Month
                        </label>
                        <input type="text" id="date-month" value="" name="date-month" class="tna-date-input__item-input" inputmode="numeric">
                      </div>
                      <div class="tna-date-input__item">
                        <label for="date-year" class="tna-date-input__item-label">
                          Year
                        </label>
                        <input type="text" id="date-year" value="" name="date-year" class="tna-date-input__item-input tna-date-input__item-input--wider" inputmode="numeric">
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <!--collections-->
            
            <div class="tna-accordion__item" data-isopen="true">
              <h3 class="tna-accordion__heading tna-heading-s">
                Collections
              </h3>
              <div class="tna-accordion__body" id="-content-1">
                <div class="tna-form__group">
                  <fieldset class="tna-form__fieldset">
                    
                    <div class="tna-checkboxes" id="categories">
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          ADM - Admiralty, Navy, Royal Marines, and Coastguard (2,391,494)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-beta" value="beta" name="categories">
                        <label for="categories-beta" class="tna-checkboxes__item-label">
                          AIR - Air Ministry and Royal Air Force records (713,881)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-gamma" value="gamma" name="categories">
                        <label for="categories-gamma" class="tna-checkboxes__item-label">
                          BT - Board of Trade and successors (2,539,478)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          C - Chancery, the Wardrobe, Royal Household, Exchequer and various commissions (1,440,321)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          E - Exchequer, Office of First Fruits and Tenths, and the Court of Augmentations (391,201)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          FO - Foreign Office (685,022)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          HO - Home Office (1,665,502)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          IR - Boards of Stamps, Taxes, Excise, Stamps and Taxes, and Inland Revenue (371,749)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          PROB - Prerogative Court of Canterbury (1,265,613)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          WO - War Office, Armed Forces, Judge Advocate General, and related bodies (6,248,745)
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              
              </div>
            </div>
            <!--Levels--->
            <div class="tna-accordion__item" data-isopen="false">
              <h3 class="tna-accordion__heading tna-heading-s">
                Levels
              </h3>
              <div class="tna-accordion__body" id="-content-1">
                <div class="tna-form__group">
                  <fieldset class="tna-form__fieldset">
                    <div class="tna-checkboxes" id="categories">
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          Division (1,212)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-beta" value="beta" name="categories">
                        <label for="categories-beta" class="tna-checkboxes__item-label">
                          Item (16,804,232)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-gamma" value="gamma" name="categories">
                        <label for="categories-gamma" class="tna-checkboxes__item-label">
                          Lettercode (433)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-gamma" value="gamma" name="categories">
                        <label for="categories-gamma" class="tna-checkboxes__item-label">
                          Piece (7,531,835)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-gamma" value="gamma" name="categories">
                        <label for="categories-gamma" class="tna-checkboxes__item-label">
                          Series (20,421)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-gamma" value="gamma" name="categories">
                        <label for="categories-gamma" class="tna-checkboxes__item-label">
                          Sub-series (68,616)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-gamma" value="gamma" name="categories">
                        <label for="categories-gamma" class="tna-checkboxes__item-label">
                          Sub-sub-series (58,540)
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              
              </div>
            </div>
            <div class="tna-accordion__item" data-isopen="false">
              <h3 class="tna-accordion__heading tna-heading-s">
                Closure status
              </h3>
              <div class="tna-accordion__body" id="-content-1">
                <div class="tna-form__group">
                  <fieldset class="tna-form__fieldset">
                    <div class="tna-checkboxes" id="categories">
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-alpha" value="alpha" name="categories">
                        <label for="categories-alpha" class="tna-checkboxes__item-label">
                          Closed Or Retained Document, Closed Description (25,386)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-beta" value="beta" name="categories">
                        <label for="categories-beta" class="tna-checkboxes__item-label">
                          Closed Or Retained Document, Open Description (376,449)
                        </label>
                      </div>
                      <div class="tna-checkboxes__item">
                        <input type="checkbox" id="categories-gamma" value="gamma" name="categories">
                        <label for="categories-gamma" class="tna-checkboxes__item-label">
                          Open Document, Open Description (23,919,391)
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              
              </div>
            </div>
            <!--opening dates-->
            <div class="tna-accordion__item" data-isopen="false">
              <h3 class="tna-accordion__heading tna-heading-s">
                Record opening dates
              </h3>
              <div class="tna-accordion__body" id="-content-1">
                <div class="tna-form__group">
                  <fieldset class="tna-form__fieldset">
                    <legend class="tna-form__legend">
                      For example, 27 3 2007 or 2007<br>
                      From:
                    </legend>
                    <div class="tna-date-input" id="date">
                      <div class="tna-date-input__item">
                        <label for="date-day" class="tna-date-input__item-label">
                          Day
                        </label>
                        <input type="text" id="date-day" value="" name="date-day" class="tna-date-input__item-input" inputmode="numeric">
                      </div>
                      <div class="tna-date-input__item">
                        <label for="date-month" class="tna-date-input__item-label">
                          Month
                        </label>
                        <input type="text" id="date-month" value="" name="date-month" class="tna-date-input__item-input" inputmode="numeric">
                      </div>
                      <div class="tna-date-input__item">
                        <label for="date-year" class="tna-date-input__item-label">
                          Year
                        </label>
                        <input type="text" id="date-year" value="" name="date-year" class="tna-date-input__item-input tna-date-input__item-input--wider" inputmode="numeric">
                      </div>
                    </div>
                    <legend class="tna-form__legend">
                      To:
                    </legend>
                    <div class="tna-date-input" id="date">
                      <div class="tna-date-input__item">
                        <label for="date-day" class="tna-date-input__item-label">
                          Day
                        </label>
                        <input type="text" id="date-day" value="" name="date-day" class="tna-date-input__item-input" inputmode="numeric">
                      </div>
                      <div class="tna-date-input__item">
                        <label for="date-month" class="tna-date-input__item-label">
                          Month
                        </label>
                        <input type="text" id="date-month" value="" name="date-month" class="tna-date-input__item-input" inputmode="numeric">
                      </div>
                      <div class="tna-date-input__item">
                        <label for="date-year" class="tna-date-input__item-label">
                          Year
                        </label>
                        <input type="text" id="date-year" value="" name="date-year" class="tna-date-input__item-input tna-date-input__item-input--wider" inputmode="numeric">
                      </div>
                    </div>
                  </fieldset>
                </div>
              
              </div>
                  <div class="tna-column tna-column--width-1-3">
                    <div class="tna-button-group tna-!--margin-top-xs tna-!--margin-bottom-m">
                      {{ tnaButton({
                        'text': 'Update',
                        'buttonElement': True,
                        'buttonType': 'submit',
                        'small': True,
                        'attributes': {
                          'form': 'search-form'
                        }
                      }) }}
                    </div>
                  </div>
            </div> 
          </div>
        </div>


        