{% extends 'base.html' %}



{%- set pageTitle = 'Paintings and drawings: commercial' -%}

{% block content %}
<div class="section tna-background-tint">
    <div class="tna-container tna-!--padding-vertical-m">
        <div class="tna-column tna-column--full-tiny">
            <nav class="tna-breadcrumbs" data-module="tna-breadcrumbs" aria-label="Breadcrumbs">
                <ol class="tna-breadcrumbs__list tna-backlinks" itemscope itemtype="https://schema.org/BreadcrumbList">
                  <li class="tna-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="#/alpha" class="tna-breadcrumbs__link" itemprop="item">
                        <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                      <span itemprop="name">Back to search results</span>
                    </a>
                    <meta itemprop="position" content="1">
                  </li>
                  <li class="tna-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="#/beta" class="tna-breadcrumbs__link" itemprop="item">
                        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                      <span itemprop="name">Start a new search</span>
                    </a>
                    <meta itemprop="position" content="2">
                  </li>
                </ol>
              </nav>
        </div>

    </div>
</div>
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
    </div>
  </div>
</div>
{% endblock %}
