{% extends 'base.html' %}


{%- set pageTitle = 'Paintings and drawings: commercial' -%}

{% block content %}
<div class="section tna-background-tint">
    <div class="tna-container tna-!--padding-vertical-m">
        <div class="tna-column tna-column--full-tiny">
            <nav class="tna-breadcrumbs" data-module="tna-breadcrumbs" aria-label="Breadcrumbs">
                <ol class="tna-breadcrumbs__list tna-backlinks" itemscope itemtype="https://schema.org/BreadcrumbList">
                  <li class="tna-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="#/alpha" class="tna-breadcrumbs__link" itemprop="item">
                        <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                      <span itemprop="name">Back to search results</span>
                    </a>
                    <meta itemprop="position" content="1">
                  </li>
                  <li class="tna-breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="#/beta" class="tna-breadcrumbs__link" itemprop="item">
                        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                      <span itemprop="name">Start a new search</span>
                    </a>
                    <meta itemprop="position" content="2">
                  </li>
                </ol>
              </nav>
        </div>

    </div>
</div>
<div class="tna-section">
  <div class="tna-container">
    <hgroup class="tna-hgroup-xl">
    <p class="tna-hgroup__supertitle">Item</p>
    <h1 class="tna-heading-l tna-!--no-margin-top tna-!--no-padding-top">{{ pageTitle }}</h1>
    <p>Catalogue reference: COPY 1/280</p>
  </hgroup>
  </div>
</div>

<!--what to do next section-->
<div class="tna-section tna-!--no-padding-top">
  <div class="tna-container">

    <ul class="tna-index-grid__items tna-container">
        <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
          <span class="tna-index-grid__item">
            <span class="tna-index-grid__item-content">
                <h2 class="tna-heading-l">What's it about?</h2>
                <p>This record is about <strong>20th Cantury Paintings and drawings: commercial</strong> from the series<strong>Records of the Copyright Office, Stationers' Company.</strong>It is held at <strong>The National Archives, Kew</strong></p>
            </span>
        </span>
        </li>
        <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
            <span class="tna-index-grid__item">
              <span class="tna-index-grid__item-content">
                  <h2 class="tna-heading-l">Is it available online?</h2>
                  <p><strong>No.</strong>This record has not been digitised and cannot be downloaded.</p>
                  <p>However, you can order it in advanced to be ready for you when you visit Kew.</p>
              </span>
          </span>
          </li>
          <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
            <span class="tna-index-grid__item">
              <span class="tna-index-grid__item-content">
                  <h2 class="tna-heading-l">What to do next</h2>
                  <p>Order it and pan your visit to Kew.</p>
                  <p>Read more about series this record is from.</p>
                  <p>Learn more about records of Art and artists.</p>
              </span>
          </span>
          </li>
      </ul>

    </div>
</div>
<!--end what to do next section-->

<!--accordion element-->
<div class="tna-section tna-!--no-padding-top">
  <div class="tna-container">

<div class="tna-accordion" data-multiselectable="false" data-module="tna-accordion">
  <div class="tna-accordion__item" data-isopen="false">
    <h3 class="tna-accordion__heading tna-heading-m">
      Full description and record details
    </h3>
    <div class="tna-accordion__body" id="-content-1">
      <div class="tna-table-wrapper">
        <table class="tna-table">
          
          <tbody class="tna-table__body">
            <tr>
              <th class="tna-table__header" scope="row">Reference</th>
              <td class="tna-table__cell">COPY 1/280</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Date</th>
              <td class="tna-table__cell">1909 Apr.</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Description</th>
              <td class="tna-table__cell">Paintings and drawings: commercial</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Held by</th>
              <td class="tna-table__cell">The National Archives, Kew</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Legal status</th>
              <td class="tna-table__cell">Public record(s)</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Language</th>
              <td class="tna-table__cell">English</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Closure Status</th>
              <td class="tna-table__cell">Open Document, Open Description</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Subjects</th>
              <td class="tna-table__cell"><span class="tna-chip tna-chip-inline"><a href="">ARTWORK</a></span><span class="tna-chip tna-chip-inline"><a href="">ART</a></span><span class="tna-chip tna-chip-inline"><a href="">ARTISTS</a></span><span class="tna-chip tna-chip-inline"><a href="">PUBLICITY</a></span><span class="tna-chip tna-chip-inline"><a href="">PROPAGANDA</a></span></td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
  <div class="tna-accordion__item" data-isopen="false">
    <h3 class="tna-accordion__heading tna-heading-s">
      How to order it
    </h3>
    <div class="tna-accordion__body" id="-content-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim. Donec bibendum est leo, sed dapibus mauris facilisis vitae.</p>
      <p>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit mi vel rhoncus aliquam.</p>
      <p>Pellentesque ultrices bibendum nibh, sit amet ornare turpis efficitur id. Aenean ullamcorper neque eget justo sagittis, rutrum ultrices urna varius. Mauris sodales a lorem at sodales.</p>
    </div>
  </div>
  <div class="tna-accordion__item" data-isopen="false">
    <h3 class="tna-accordion__heading tna-heading-s">
      Series information
    </h3>
    <div class="tna-accordion__body" id="-content-3">
      <ul class="tna-ul">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim.</li>
        <li>Donec bibendum est leo, sed dapibus mauris facilisis vitae.</li>
        <li>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi.</li>
      </ul>
    </div>
  </div>
  <div class="tna-accordion__item" data-isopen="false">
    <h3 class="tna-accordion__heading tna-heading-s">
      Catalogue hierarchy
    </h3>
    <div class="tna-accordion__body" id="-content-4">
      <div class="tna-table-wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim. Donec bibendum est leo, sed dapibus mauris facilisis vitae.</p>
      <p>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit mi vel rhoncus aliquam.</p>
      <p>Pellentesque ultrices bibendum nibh, sit amet ornare turpis efficitur id. Aenean ullamcorper neque eget justo sagittis, rutrum ultrices urna varius. Mauris sodales a lorem at sodales.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--end accordion element-->


<!--card element-->
<div class="section">
<div class="tna-container">

<article class="tna-card--demo">
  <hgroup class="tna-hgroup-m tna-card__heading">
    
    <h3 class="tna-heading-m">
      Researching this topic     
    </h3>
  </hgroup>
  <div class="tna-card__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <p><a href="">Read more about Arts and arists</a></p>
  </div>
</article>
</div>
</div>
<!--end of card element-->


<!--picture section-->
<div clas="tna-section">
  <div class="tna-container">
    <figure class="tna-picture" data-module="tna-picture">
      <div class="tna-picture__image-wrapper tna-background-contrast">
        <h3 class="tna-heading-m">Explore the collection</h2>
        <p>This record (COPY 1/280) is mentioned in the Stories from the Collection about Louis Wain</p>
        <picture>
          <img class="tna-picture__image tna-!--margin-top-s" width="1996" height="1331" src="../static/assets/images/wain.jpg" alt="The National Archives office" loading="lazy">
        </picture>
        <p>'Jackson's Boot and Hats' by Louis Wain, 1909. Catalogue reference: COPY 1/280.</p>
      </div>
    </figure>
  </div>
</div>
<!--end picture section-->



<!--Related records-->
<div class="tna-section">
  <div class="tna-container">
    <hgroup class="tna-hgroup-xl">
      <h2 class="tna-heading-l">Related records</h2>
    </hgroup>
    <ul class="tna-index-grid__items tna-container">
        <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
          <span class="tna-index-grid__item">
            <span class="tna-index-grid__item-content">
              <p class="tna-hgroup__supertitle">Series</p>
                <h3 class="tna-heading-l tna-!--no-padding-top tna-!--no-margin-top">Copyright Office: Entry Forms, etc</h3>
                <p>Catalogue reference: COPY 1/280</p>
                <p>The original forms of application for the regestration of proprietorship at Stationers' Hall under the Copyright Acts in force from 1842 to 1912 ...</p>
            </span>
        </span>
        </li>
        <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
            <span class="tna-index-grid__item">
              <span class="tna-index-grid__item-content">
                <p class="tna-hgroup__supertitle">Item</p>
                  <h3 class="tna-heading-l tna-!--no-padding-top tna-!--no-margin-top">Paintings and Drawings</h3>
                  <p>Catalogue reference: COPY 1/280</p>
                  <p>Paintings and Drawings Commercial, 1909 May.</p>
              </span>
          </span>
          </li>
          <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
            <span class="tna-index-grid__item">
              <span class="tna-index-grid__item-content">
                <p class="tna-hgroup__supertitle">Item</p>
                <h3 class="tna-heading-l tna-!--no-padding-top tna-!--no-margin-top">Paintings and Drawings</h3>
                <p>Catalogue reference: COPY 1/280</p>
                <p>Paintings and Drawings Commercial, 1909 June.</p>
              </span>
          </span>
          </li>
      </ul>

    </div>
</div>
<!-- end Related records-->

<!--copy link-->
<div class="tna-section tna-!--no-padding-top tna-!--no-margin-top">
  <div class="tna-container">
    <div class="tna-column tna-column--full ">
      <h4><b>Record url:</h4>
      <span class="tna-scene-setter">https://beta.nationalarchives.gov.uk/catalogue/id/c23243123<span class="tna-chip tna-chip-inline"><a href="">COPY</a></span>
  </div>
</div>
</div>
<!--end copy link-->

{% endblock %}
