@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

.development-notice {
  padding: 8px;

  background-color: var(--background, #f4f4f4);

  border: 0.2em var(--form-error-border, #937ef1) solid;
  border-radius: 6px;
}

.choose-section {
  background-color: #dde5d5;
}

.tna-accordion {
  &__summary {
    padding-left: 0;

    &:hover {
      background: transparent;
    }
  }

  &__details:first-child {
    border: 0;
  }

  &__content {
    padding-right: 0;
    padding-left: 0;
  }
}

.filter-list {
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: spacing.space(0.75);

  list-style: none;

  &__item {
    display: inline-block;

    text-align: center;

    @include colour.base;

    a {
      min-width: 1.2em;
      padding: spacing.space(0.5);

      display: block;

      text-decoration: none;

      @include colour.colour-border("keyline-dark", 1px);
      @include borders.rounded-border;

      &:hover {
        @include colour.accent;
      }
    }
  }
}

.subjects ul {
  margin-top: 1em;
  margin-bottom: 0.2em;
  padding: 0;
  list-style-type: none;
}

.subjects li {
  margin: 0 10px 10px 0;
  padding: 8px;

  display: inline-block;

  text-align: left;

  background-color: white;

  border: solid 1px black;
  list-style-type: none;

  :hover {
    color: white;

    background: green;
  }

  a {
    text-decoration: none;
  }
}
