@use "@nationalarchives/frontend/nationalarchives/all";

.second-nav {
  padding-bottom: 1em;
  padding-left: 0;

  li {
    margin-right: 0.7em;

    display: inline;

    a {
      padding-bottom: 0.9em;

      text-decoration: none;
    }

    a:hover {
      border-bottom: 10px solid white;
    }
  }
}

.search-filters__search {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.search-filters__search,
.update-filters {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tna-backlinks i {
  margin-right: 10px;
}

.tna-backlinks li a::before {
  display: none;
}

.tna-index-grid__items {
  padding-right: 0;
  padding-left: 0;
}

.tna-scene-setter {
  font-size: 1rem;
}

.tna-chip-inline {
  margin-left: 1em;

  display: inline;

  border-radius: 5px;
}

article.tna-card--demo {
  margin-bottom: 1em;
  padding: 1em;

  background: rgb(217 217 214);
}

.tna-accordion {
  width: 100%;
}

.tna-table__body tr {
  height: 100px;

  vertical-align: middle;
}

.tna-heading-l {
  font-size: 1.6em;
}