@use "@nationalarchives/frontend/nationalarchives/all";


// secondary navigation

.second-nav {
    padding-bottom: 1em;
    padding-left:0;

    li{
        display:inline;
        margin-right:0.7em;
        a {
            text-decoration: none;
            padding-bottom: 0.9em;
        }
        a:hover {
            border-bottom:10px solid white;
        }
        
    }
}

// accordion // filters
.search-filters__search,
.update-filters {
    margin-bottom:1em;
}