@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";

@use "@nationalarchives/frontend/nationalarchives/all";

.etna-rounded-corners {
  @include borders.rounded-border;
}

.tna-card {
  &--full-height {
    height: 100%;

    box-sizing: border-box;

    @include colour.on-high-contrast-and-forced-colours {
      height: auto;
    }
  }
}
