{% extends 'base.html' %}

{% from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs %}
{% from 'components/search-field/macro.html' import tnaSearchField %}
{%- from 'components/card/macro.html' import tnaCard -%}

{%- set pageTitle = 'Search our catalogue' -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ static('landing.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block beforeContent %}
<div class="tna-background-accent">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          }
        ],
        'structuredData': True,
        'classes': 'tna-!--padding-vertical-s'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="tna-background-accent tna-!--padding-top-s tna-!--padding-bottom-m">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <form action="{{ url('search:catalogue') }}" method="get">
        <h1 class="tna-heading-l">{{ pageTitle }}</h1>
        {{ tnaSearchField({
          'label': 'Search by keyword, place, person, or catalogue reference',
          'headingLevel': 2,
          'headingSize': 'xs',
          'id': 'search',
          'name': 'q',
          'value': request.GET.get('q') or '',
          'formGroupClasses': 'tna-!--no-margin-top'
        }) }}
      </form>
    </div>
  </div>
</div>

<div class="tna-block-accent-light tna-!--padding-vertical-s">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <div class="tna-accordion" data-module="tna-accordion">
        <div class="tna-accordion__item" data-isopen="false">
          <h2 class="tna-accordion__heading tna-heading-s">
            Find records by subject
          </h2>
          <div class="tna-accordion__body" id="accordion-demo-content-1">
            <div class="tna-container tna-container--nested">
              <div class="tna-column tna-column--width-1-3 tna-column--width-1-2-small tna-column--full-tiny">
                <h3 class="tna-heading-s">Select a letter</h3>
                <ul class="filter-list tna-!--margin-top-s">
                  <li class="filter-list__item">
                    <a href="#">A</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">B</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">C</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">D</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">E</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">F</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">G</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">H</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">I</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">J</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">K</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">L</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">M</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">N</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">O</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">P</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Q</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">R</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">S</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">T</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">U</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">V</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">W</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">X</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Y</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Z</a>
                  </li>
                </ul>
              </div>
              <div class="tna-column tna-column--width-2-3 tna-column--width-1-2-small tna-column--full-tiny">
                <h3 class="tna-heading-s">Select a subject</h3>
                <ul class="filter-list tna-!--margin-top-s">
                  <li class="filter-list__item">
                    <a href="#">Africa</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Aid and development</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Air force</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Air transport</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Ancient Monuments and Historical Buildings</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Archives and libraries</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Armed Forces (General Administration)</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Army</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Art, architecture and design</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Asia</a>
                  </li>
                  <li class="filter-list__item">
                    <a href="#">Australia and Pacific</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--full">

      <div class="development-notice">
        
          <h2 class="tna-heading-m">
            This site is still under development
          </h2>
          <p>Read our <a href="https://www.nationalarchives.gov.uk/blogs/digital/welcome-to-the-new-national-archives-catalogue/">blog post</a> for more information and help us out by providing <a href="https://www.smartsurvey.co.uk/s/beta-search-feedback/">feedback</a>.</p>
        
      </div>

    </div>
    
  </div>

</div>

<div class="tna-!--margin-top-xs">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      <h3 class="tna-heading-l">Other ways to explore our collection</h3>
    </div>
  </div>
  <ul class="tna-container">
    {% for page in top_pages %}
    <li class="tna-column tna-column--width-1-3 tna-column--full-tiny tna-!--margin-top-l">
      {{ tnaCard({
        'supertitle': 'Explore the collection',
        'title': page.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': page.full_url,
        'imageAlt': '',
        'imageSrc': page.teaser_image.jpeg.full_url,
        'imageWidth': page.teaser_image.jpeg.width,
        'imageHeight': page.teaser_image.jpeg.height,
        'body': page.teaser_text | safe,
        'fullAreaClick': True
      }) }}
    </li>
    {% endfor %}
  </ul>
  <div class="tna-container tna-!--margin-top-l">
    <div class="tna-column tna-column--full">
      <h3 class="tna-heading-l">Discover something new</h3>
    </div>
  </div>
  <ul class="tna-container tna-container--nested">
    {% for page in pages %}
    <li class="tna-column tna-column--width-1-3 tna-column--full-tiny tna-!--margin-top-l">
      {{ tnaCard({
        'supertitle': page.type_label,
        'title': page.title,
        'headingLevel': 3,
        'headingSize': 's',
        'href': page.full_url,
        'imageAlt': '',
        'imageSrc': page.teaser_image.jpeg.full_url,
        'imageWidth': page.teaser_image.jpeg.width,
        'imageHeight': page.teaser_image.jpeg.height,
        'body': page.teaser_text | safe,
        'fullAreaClick': True
      }) }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
