{% extends 'base.html' %}

{% from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs %}
{% from 'components/search-field/macro.html' import tnaSearchField %}
{%- from 'components/card/macro.html' import tnaCard -%}

{%- set pageTitle = 'Welcome to the catalogue' -%}

{% block beforeContent %}
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          }
        ],
        'structuredData': True,
        'classes': 'tna-!--padding-vertical-s'
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <form action="{{ url('search:catalogue') }}" method="get">
        <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
        {{ tnaSearchField({
          'label': 'Search the catalogue',
          'headingLevel': 2,
          'headingSize': 'm',
          'id': 'search',
          'name': 'q',
          'value': request.GET.get('q') or ''
        }) }}
      </form>
    </div>
  </div>
  <div>
    <ul class="tna-container tna-container--nested">
      {% for page in top_pages %}
        <li class="tna-column tna-column--width-1-3 tna-column--full-tiny tna-!--margin-top-l">
          {{ tnaCard({
            'title': page.title,
            'headingLevel': 3,
            'headingSize': 's',
            'href': page.full_url,
            'imageAlt': '',
            'imageSrc': page.teaser_image.jpeg.full_url,
            'imageWidth': page.teaser_image.jpeg.width,
            'imageHeight': page.teaser_image.jpeg.height,
            'meta': [
              {
                'title': 'Type',
                'text': 'Explore the collection'
              }
            ],
            'body': page.teaser_text | safe,
            'fullAreaClick': True
          }) }}
        </li>
      {% endfor %}
    </ul>
    <ul class="tna-container tna-container--nested">
    {% for page in pages %}
      <li class="tna-column tna-column--width-1-3 tna-column--full-tiny tna-!--margin-top-l">
        {{ tnaCard({
          'title': page.title,
          'headingLevel': 3,
          'headingSize': 's',
          'href': page.full_url,
          'imageAlt': '',
          'imageSrc': page.teaser_image.jpeg.full_url,
          'imageWidth': page.teaser_image.jpeg.width,
          'imageHeight': page.teaser_image.jpeg.height,
          'meta': [
            {
              'title': 'Type',
              'text': page.type_label
            }
          ],
          'body': page.teaser_text | safe,
          'fullAreaClick': True
        }) }}
      </li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endblock %}