{% extends 'base.html' %}

{% from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs %}
{% from 'components/search-field/macro.html' import tnaSearchField %}

{%- set pageTitle = 'Welcome to the catalogue' -%}

{% block beforeContent %}
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          }
        ],
        'structuredData': True,
        'classes': 'tna-!--padding-vertical-s'
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <form action="{{ url('search:catalogue') }}" method="get">
        <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
        {{ tnaSearchField({
          'label': 'Search the catalogue',
          'headingLevel': 2,
          'headingSize': 'm',
          'id': 'search',
          'name': 'q',
          'value': request.GET.get('q') or ''
        }) }}
      </form>
    </div>
  </div>
</div>
{% endblock %}