<div class="tna-section tna-!--no-padding-top">
  <div class="tna-container">

<div class="tna-accordion" data-multiselectable="false" data-module="tna-accordion">
  <div class="tna-accordion__item" data-isopen="false">
    <h3 class="tna-accordion__heading tna-heading-m">
      Full description and record details
    </h3>
    <div class="tna-accordion__body" id="-content-1">
      <div class="tna-table-wrapper">
        <table class="tna-table">
          
          <tbody class="tna-table__body">
            <tr>
              <th class="tna-table__header" scope="row">Reference</th>
              <td class="tna-table__cell">COPY 1/280</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Date</th>
              <td class="tna-table__cell">1909 Apr.</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Description</th>
              <td class="tna-table__cell">Paintings and drawings: commercial</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Held by</th>
              <td class="tna-table__cell">The National Archives, Kew</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Legal status</th>
              <td class="tna-table__cell">Public record(s)</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Language</th>
              <td class="tna-table__cell">English</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Closure Status</th>
              <td class="tna-table__cell">Open Document, Open Description</td>
            </tr>
            <tr>
              <th class="tna-table__header" scope="row">Subjects</th>
              <td class="tna-table__cell"><span class="tna-chip tna-chip-inline"><a href="">ARTWORK</a></span><span class="tna-chip tna-chip-inline"><a href="">ART</a></span><span class="tna-chip tna-chip-inline"><a href="">ARTISTS</a></span><span class="tna-chip tna-chip-inline"><a href="">PUBLICITY</a></span><span class="tna-chip tna-chip-inline"><a href="">PROPAGANDA</a></span></td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
  <div class="tna-accordion__item" data-isopen="false">
    <h3 class="tna-accordion__heading tna-heading-s">
      How to order it
    </h3>
    <div class="tna-accordion__body" id="-content-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim. Donec bibendum est leo, sed dapibus mauris facilisis vitae.</p>
      <p>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit mi vel rhoncus aliquam.</p>
      <p>Pellentesque ultrices bibendum nibh, sit amet ornare turpis efficitur id. Aenean ullamcorper neque eget justo sagittis, rutrum ultrices urna varius. Mauris sodales a lorem at sodales.</p>
    </div>
  </div>
  <div class="tna-accordion__item" data-isopen="false">
    <h3 class="tna-accordion__heading tna-heading-s">
      Series information
    </h3>
    <div class="tna-accordion__body" id="-content-3">
      <ul class="tna-ul">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim.</li>
        <li>Donec bibendum est leo, sed dapibus mauris facilisis vitae.</li>
        <li>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi.</li>
      </ul>
    </div>
  </div>
  <div class="tna-accordion__item" data-isopen="false">
    <h3 class="tna-accordion__heading tna-heading-s">
      Catalogue hierarchy
    </h3>
    <div class="tna-accordion__body" id="-content-4">
      <div class="tna-table-wrapper">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim. Donec bibendum est leo, sed dapibus mauris facilisis vitae.</p>
      <p>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit mi vel rhoncus aliquam.</p>
      <p>Pellentesque ultrices bibendum nibh, sit amet ornare turpis efficitur id. Aenean ullamcorper neque eget justo sagittis, rutrum ultrices urna varius. Mauris sodales a lorem at sodales.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>