<!--card element-->
<div class="section">
<div class="tna-container">

<article class="tna-card--demo">
  <hgroup class="tna-hgroup-m tna-card__heading">
    
    <h3 class="tna-heading-l">
      Researching this topic    
    </h3>
  </hgroup>
  <div class="tna-card__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <p><a href="">Read more about Arts and arists</a></p>
  </div>
</article>
</div>
</div>
<!--end of card element-->