<!--picture section-->
<div clas="tna-section">
  <div class="tna-container">
    <figure class="tna-picture" data-module="tna-picture">
      <div class="tna-picture__image-wrapper tna-background-contrast">
        <h3 class="tna-heading-l">Explore the collection</h2>
        <p>This record (COPY 1/280) is mentioned in the Stories from the Collection about Louis Wain</p>
        <picture>
          <img class="tna-picture__image tna-!--margin-top-s" width="1996" height="1331" src="/search/static/assets/images/wain.jpg" alt="The National Archives office" loading="lazy">
        </picture>
        <p>'Jackson's Boot and Hats' by Louis Wain, 1909. Catalogue reference: COPY 1/280.</p>
      </div>
    </figure>
  </div>
</div>
<!--end picture section-->

