<!--Related records-->
<div class="tna-section">
    <div class="tna-container">
      <hgroup class="tna-hgroup-xl">
        <h2 class="tna-heading-l">Related records</h2>
      </hgroup>
      <ul class="tna-index-grid__items tna-container">
          <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
            <span class="tna-index-grid__item">
              <span class="tna-index-grid__item-content">
                <p class="tna-hgroup__supertitle">Series</p>
                  <h3 class="tna-heading-l tna-!--no-padding-top tna-!--no-margin-top">Copyright Office: Entry Forms, etc</h3>
                  <p>Catalogue reference: COPY 1/280</p>
                  <p>The original forms of application for the regestration of proprietorship at Stationers' Hall under the Copyright Acts in force from 1842 to 1912 ...</p>
              </span>
          </span>
          </li>
          <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
              <span class="tna-index-grid__item">
                <span class="tna-index-grid__item-content">
                  <p class="tna-hgroup__supertitle">Item</p>
                    <h3 class="tna-heading-l tna-!--no-padding-top tna-!--no-margin-top">Paintings and Drawings</h3>
                    <p>Catalogue reference: COPY 1/280</p>
                    <p>Paintings and Drawings Commercial, 1909 May.</p>
                </span>
            </span>
            </li>
            <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny">
              <span class="tna-index-grid__item">
                <span class="tna-index-grid__item-content">
                  <p class="tna-hgroup__supertitle">Item</p>
                  <h3 class="tna-heading-l tna-!--no-padding-top tna-!--no-margin-top">Paintings and Drawings</h3>
                  <p>Catalogue reference: COPY 1/280</p>
                  <p>Paintings and Drawings Commercial, 1909 June.</p>
                </span>
            </span>
            </li>
        </ul>
  
      </div>
  </div>
  <!-- end Related records-->