{% extends 'base.html' %}

{% from 'records/macros/top_navigation.html' import top_navigation %}
{% from 'components/accordion/macro.html' import tnaAccordion %}

{%- set pageTitle = 'New to archives?' -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ static('record-details.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block beforeContent %}
{{ top_navigation(record, request) }}
{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-3-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-l">Getting started at The National Archives</h1>
      <p>If you are new to The National Archives and want some help getting started with your family history or any other kind of research, you're in the right place.</p>
      <p>Use the sections below to find out where and how to starty your research or <a href="">explore curatedhighlights from our collection.</a>
      </p>

      <!--accordion-->
      <div class="tna-accordion" data-multiselectable="false" data-module="tna-accordion">
        <div class="tna-accordion__item" data-isopen="true">
          <h3 class="tna-accordion__heading tna-heading-s">
            What we have
          </h3>
          <div class="tna-accordion__body" id="accordion-what-we-have">
            <p>The National Artchive is home to millions of historical documents, known as <b>records</b>, which were created and collected by UK central government departments and major courts of law.</p>
            <p>For example, we have records from the Home Office, the Foreign Office and the Central Criminal Court.</p>
            <p>It takes 185km of shelving to store our records, and this increases every year.</p>

            <section class="tna-section">
                <!--youtube embed-->
                <iframe width="100%" height="461" src="https://www.youtube.com/embed/VjwAAypYL8M" title="The records we hold" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <!--end youtube embed-->
            </section>
              

          </div>
        </div>
        <div class="tna-accordion__item" data-isopen="false">
          <h3 class="tna-accordion__heading tna-heading-s">
            What we don't have
          </h3>
          <div class="tna-accordion__body" id="accordion-demo-content-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim. Donec bibendum est leo, sed dapibus mauris facilisis vitae.</p>
            <p>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla blandit mi vel rhoncus aliquam.</p>
            <p>Pellentesque ultrices bibendum nibh, sit amet ornare turpis efficitur id. Aenean ullamcorper neque eget justo sagittis, rutrum ultrices urna varius. Mauris sodales a lorem at sodales.</p>
          </div>
        </div>
        <div class="tna-accordion__item" data-isopen="false">
          <h3 class="tna-accordion__heading tna-heading-s">
            What's online
          </h3>
          <div class="tna-accordion__body" id="accordion-online">
            <ul class="tna-ul">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim.</li>
              <li>Donec bibendum est leo, sed dapibus mauris facilisis vitae.</li>
              <li>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi.</li>
            </ul>
          </div>
        </div>
        <div class="tna-accordion__item" data-isopen="false">
          <h3 class="tna-accordion__heading tna-heading-s">
            What are archives?
          </h3>
          <div class="tna-accordion__body" id="accordion-what-are-archives">
            <ul class="tna-ul">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim.</li>
              <li>Donec bibendum est leo, sed dapibus mauris facilisis vitae.</li>
              <li>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi.</li>
            </ul>
          </div>
        </div>
        <div class="tna-accordion__item" data-isopen="false">
          <h3 class="tna-accordion__heading tna-heading-s">
            How to use archives?
          </h3>
          <div class="tna-accordion__body" id="accordion-how-to-use">
            <ul class="tna-ul">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Nulla dignissim vehicula magna, et hendrerit quam iaculis a. Mauris in ultricies enim.</li>
              <li>Donec bibendum est leo, sed dapibus mauris facilisis vitae.</li>
              <li>Quisque hendrerit condimentum nisl, non volutpat ex eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi id suscipit felis, sed tincidunt arcu. Etiam vel blandit diam, vitae commodo mi.</li>
            </ul>
          </div>
        </div>
        
      </div>
       <!--end accordion-->

      <!--card/hero element-->
      <div class="tna-hero tna-!--margin-top-m">
        <figure class="tna-hero__figure">
          <div class="tna-container tna-hero__inner">
            <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-hero__content">
              <div class="tna-hero__content-inner tna-background-accent">
                <hgroup class="tna-hgroup-l tna-hero__heading">
                  
                  <h3 class="tna-hgroup__title">
                    Explore the collection
                  </h3>
                </hgroup>
                <p>Discover the stories behind the records. Read articles about the incredible people whose lives can be traced in the archive, or go deep into a new perspectives on historical events.</p>
                <a href="#" class="tna-button tna-!--margin-top-s">
                  Explore
                </a>
              </div>

            </div>
          </div>
          <!-- <picture class="tna-hero__image">
            <img src="https://beta.nationalarchives.gov.uk/media/images/WORK-25_64-B1-SB-_1948-1952.2e16d0ba.fill-1000x600-c100.jpg" alt="Example image" width="1200" height="480">
          </picture> -->
        </figure>
      </div>

      <!--end card/hero element-->


    </div>
  </div>
</div>
{% endblock %}