{% extends 'base.html' %}

{%- set pageTitle = (record.summary_title or '[No title]') | striptags -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ static('record-details.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ pageTitle }}</h1>

      <p>{{ record.custom_record_type }}</p>

      {% if canonical %}
      <p>Canonical: {{ canonical }}</p>
      {% endif %}

      <ol class="tna-ol">
        <li>
          Held at:
          <a href="{{ record.held_by_url }}">{{ record.held_by | safe }}</a>
        </li>
        {% for hierarchy_record in record.hierarchy %}
        <li>
          {{ hierarchy_record.level }}:
          <a href="{{ hierarchy_record.url }}">{{ hierarchy_record.summary_title }}</a>
        </li>
        {% endfor %}
      </ol>

      <ul class="tna-ul">
      {% if record.previous %}
        <li>
          Previous {{ record.previous.level }}: <a href="{{ record.previous.url }}">{{ record.previous.reference_number }}</a>
        </li>
      {% endif %}
      {% if record.next %}
        <li>
          Next {{ record.next.level }} : <a href="{{ record.next.url }}">{{ record.next.reference_number }}</a>
        </li>
      {% endif %}
      </ul>

      <ul class="tna-ul">
      Legacy Breadcrumb Items for short hierarchy items:
      {%- set bci = record.breadcrumb_items -%}  
      {% for bc_item in bci %}
        {% if bc_item.url %}
          {% if bc_item.iaid == record.iaid %}
              {%- set is_current_item = True -%}
          {% else %}
              {%- set is_current_item = False -%}
          {% endif %}
          {# is_current_item = {{ is_current_item }} #}
          <li>
          <a href="{{ bc_item.url }}">{{ bc_item.level }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>

      <h2 class="tna-heading-l">Record details</h2>
      {% set fields = [
        'title',
        'reference_number',
        'closure_status',
        'date_covering',
        'description',
        'held_by',
        'legal_status',
        'closure_status',
        'dimensions',
        'creator'
      ] %}
      <dl class="tna-dl">
        {% for field in fields %}
        {% if record[field] %}
        <dt>
          <span class="record-details__label">{{ field_labels[field] }}</span>
        </dt>
        <dd>
          {% if field == 'held_by' %}
          <a href="{{ record.held_by_url }}">{{ record[field] | safe }}</a>
          {% elif field in ['creator'] %}
          {# Show a list of items #}
          <ul class="tna-ul">
            {% for item in record[field] %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% else %}
          {{ record[field] | safe }}
          {% endif %}
        </dd>
        {% endif %}
        {% endfor %}
      </dl>
    </div>
  </div>
</div>
{% endblock %}
