<div class="crosslink-panel" id="analytics-record-access">
    {% if do_heading %}
        <h3 class="tna-heading-m">{{ do_heading | safe }} </h3>
    {% endif %}
    
    {% if do_description %}
        {{do_description | safe }}
    {% endif %}

    {% if do_orderbuttons %}
        {% for item in do_orderbuttons %}
            <a class="crosslink-panel__link"
               {% if item.target %}
                   target={{ item.target }}
               {% endif %}
               href="{{ item.href }}" 
               data-link-type="Link" 
               data-component-name="Access record">{{ item.text }} <span class="sr-only">(link opens in a new window)</span></a>
        {% endfor %}
    {% endif %}

    {% if do_expandlink %}
    <p></p>
        {{ do_expandlink}}
    {% endif %}

    {% if do_supplemental %}
    <p></p>
        {{ do_supplemental | safe }}
    {% endif %}

    {% if do_basketlimit %}
    <p></p>
        {{do_basketlimit | safe }}
    {% endif %}

    {% if do_exception %}
    <p></p>
        {{ do_exception }}
    {% endif %}
</div>
