{% extends 'base.html' %}

{% from 'components/accordion/macro.html' import tnaAccordion %}
{% from 'records/macros/information_boxes.html' import information_boxes %}
{% from 'records/macros/detail_fields.html' import detail_fields %}
{% from 'records/macros/hierarchy.html' import hierarchy %}
{% from 'records/macros/how_to_order.html' import how_to_order %}
{% from 'records/macros/series_information.html' import series_information %}
{% from 'records/macros/top_navigation.html' import top_navigation %}
{% from 'records/macros/related_records_block.html' import related_records_block %}


{%- set pageTitle = (record.summary_title or '[No title]') | striptags -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ static('record-details.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block beforeContent %}
{{ top_navigation(record, request) }}
{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <hgroup class="tna-hgroup-xl">
        <p class="tna-hgroup__supertitle">{{ record.level }}</p>
        <h1 class="tna-hgroup__title">{{ pageTitle }}</h1>
      </hgroup>

      <p>Catalogue reference: <strong class="reference">{{ record.reference_number }}</strong></p>

      {% if canonical %}
      <p>Canonical: {{ canonical }}</p>
      {% endif %}
    </div>
  </div>

  {{ information_boxes(record) }}

  {{ detail_fields(record, field_labels, request) }}

  <div class="tna-container tna-!--margin-top-m">
    <div class="tna-column tna-column--full tna-margin-top-m">
      {% set accordion_items = [] %}

      {% set accordion_items = accordion_items + [{
        'title': 'How to order this record',
        'body': how_to_order()
      }] %}

      {% if record.hierarchy_series %}
        {% set accordion_items = accordion_items + [{
          'title': 'Series information',
          'body': series_information(record)
        }] %}
      {% endif %}

      {% set accordion_items = accordion_items + [{
        'title': 'Catalogue hierarchy',
        'body': hierarchy(record)
      }] %}
      
      {{ tnaAccordion({
        'itemHeadingLevel': 3,
        'items': accordion_items,
        'id': 'record-extended-details',
        'openMultipleItems': True
      }) }}
    </div>
  </div>
</div>


<div class="tna-container">
  <div class="tna-column"></div>
    <a href="#" class="tna-button">Add to basket</a>
  </div>
</div>


{{ related_records_block(record) }}

</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    <script src="{{ static('record-details.min.js') }}?v={{ app_config.BUILD_VERSION }}" defer></script>
{% endblock %}
