{% extends 'base.html' %}

{% from 'records/macros/top_navigation.html' import top_navigation %}

{%- set pageTitle = 'Related records for ' + (record.title or record.summary_title or '[No title]') | striptags -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ static('record-details.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block beforeContent %}
{{ top_navigation(record, request) }}
{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">Related records for {{ pageTitle }}</h1>

      <p>{{ record.custom_record_type }}</p>
    </div>
  </div>
</div>
{% endblock %}