{% from 'components/checkboxes/macro.html' import tnaCheckboxes %}
{% from 'components/details/macro.html' import tnaDetails %}

{%- set show_raw_description = False -%}

{% macro detail_fields(record, field_labels, request) %}
  <div class="tna-container tna-!--margin-top-m">
    <div class="tna-column tna-column--flex-1 tna-column--full-small tna-column--full-tiny tna-column--align-centre tna-!--margin-top-s">
      <h2 class="tna-heading-l" id="record-details">
        Full description and record details
      </h2>
    </div>
    <div class="tna-column tna-column--full-small tna-column--full-tiny tna-column--align-centre tna-!--margin-top-s">
      {{ tnaCheckboxes({
        'label': 'Record details',
        'headingLevel': 3,
        'headingSize': 's',
        'id': 'field-descriptions',
        'name': 'field_descriptions',
        'items': [
          {
            'text': 'Hide field descriptions',
            'value': 'hide',
            'checked': (request.COOKIES['hide_record_detail_descriptions'] | lower) == 'true'
          }
        ],
        'inline': True,
        'formGroupAttributes': {
          'hidden': 'true'
        }
      }) }}
    </div>
  </div>
  <div class="tna-container">
    <div class="tna-column tna-column--full tna-!--margin-top-s">
      {% set fields = [
        'reference_number',
        'title',
        'date_covering',
        'description',
        'note',
        'arrangement',
        'related_materials',
        'separated_materials',
        'held_by',
        'former_department_reference',
        'former_pro_reference',
        'location_of_originals',
        'legal_status',
        'language',
        'map_designation',
        'creator',
        'physical_description',
        'restrictions_on_use',
        'dimensions',
        'access_condition',
        'immediate_source_of_acquisition',
        'map_scale',
        'physical_condition',
        'closure_status',
        'custodial_history',
        'accumulation_dates',
        'accruals',
        'unpublished_finding_aids',
        'appraisal_information',
        'administrative_background',
        'copies_information',
        'publication_note',
        'record_opening',
      ] %}
      <dl class="tna-dl tna-dl--plain tna-dl--dotted record-details" id="record-details-list">
        {% for field in fields %}
          {% if record[field] %}
            <dt>
              <span class="record-details__label">
                {{ field_labels[field].title }}
                {% if field_labels[field].description %}
                  <span class="record-details__description" hidden>
                    <span class="tna-visually-hidden">(</span>{{ field_labels[field].description }}<span class="tna-visually-hidden">)</span>
                  </span>
                {% endif %}
              </span>
            </dt>
            <dd>
              {% if field == 'held_by' %}
                {# Output the held by #}
                {% if record.held_by_url %}
                  <a href="{{ record.held_by_url }}">{{ record[field] }}</a>
                {% else %}
                  {{ record.held_by }}
                {% endif %}

              {% elif field in [
                'creator',
                'unpublished_finding_aids',
                'publication_note'
              ] %}
                {# Output multiple paragraphs #}
                {% for item in record[field] %}
                  <p>{{ item }}</p>
                {% endfor %}

              {% elif field in [
                'related_materials',
                'separated_materials'
              ] %}
                {# Output details from other records #}
                {% for item in record[field] %}
                  {% if item.description %}
                    <p>{{ item.description }}
                    {% if item.links %}
                      {% for link in item.links %}
                        {% if field == 'separated_materials' %}
                          <p><a href="{{ link.href }}">{{ link.text }}</a></p>
                        {% else %}
                          <a href="{{ link.href }}">{{ link.text }}</a>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    </p>
                  {% endif %}
                {% endfor %}

              {% elif field == 'description' %}
                {# Output the field value and maybe the raw value #}
                {{ record[field] | sanitise_record_description | safe }}
                {% if record.raw_description and show_raw_description %}
                {{ tnaDetails({
                  'title': 'Raw description',
                  'body': '<textarea rows="8" readonly>' + record.raw_description + '</textarea>',
                  'classes': 'tna-!--margin-top-xs',
                }) }}
                {% endif %}

              {% else %}
                {# Just output the field value #}
                {{ record[field] | safe }}
              {% endif %}
            </dd>
          {% endif %}
          {% if field == 'description' and record.raw_description and show_raw_description %}
            <dt>Raw description</dt>
            <dd>
              <textarea rows="8" readonly>{{ record.raw_description }}</textarea>
            </dd>
          {% endif %}
        {% endfor %}
        <dt>Subjects</dt>
        <dd>
          <dl class="tna-dl-chips">
            <dt>Topics</dt>
            <dd>
              <a href="#" class="tna-dl-chips__item">
                Artwork
              </a>
            </dd>
            <dd>
              <a href="#" class="tna-dl-chips__item">
                Art
              </a>
            </dd>
            <dd>
              <a href="#" class="tna-dl-chips__item">
                Artists
              </a>
            </dd>
            <dd>
              <a href="#" class="tna-dl-chips__item">
                Publicity
              </a>
            </dd>
            <dd>
              <a href="#" class="tna-dl-chips__item">
                Propaganda
              </a>
            </dd>
          </dl>
        </dd> 
        <dt>Record URL</dt>
        <dd><span class="copy-url">{{ request.build_absolute_uri(url('records:details', kwargs={'id': record.iaid})) }}</span></dd>
      </dl>
    </div>
  </div>
{% endmacro %}
