{% macro information_boxes(record) %}
  <div class="tna-container">
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      <div class="tna-aside tna-aside--tight tna-background-contrast full-height-aside">
        <h2 class="tna-heading-m">What’s it about?</h2>
        <p>This record is 
          {%- if record.level == 'File' %}
            a <strong>{{ record.level | lower }}</strong>
          {%- endif %}
          about the <strong>{{ record.summary_title }}</strong>
          {%- if record.date_covering %}
            dating from <strong>{{ record.date_covering }}</strong>
          {%- endif -%}
          {%- if record.is_tna and record.hierarchy_series %}
            in the series <strong>{{ record.hierarchy_series.summary_title }}</strong>
          {%- endif -%}.
          {%- if record.is_tna and record.held_by %}
            It is held at <strong>{{ record.held_by }}</strong>.
          {%- endif -%}
        </p>
      </div>
    </div>
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      <div class="tna-aside tna-aside--tight tna-background-contrast full-height-aside">
        <h2 class="tna-heading-m">Is it available online?</h2>
        {%- if record.is_digitised -%}
          <p><strong>Yes.</strong> You can preview the record below.
          <p>You can also download a copy for £3.50 or <a href="#">sign in</a> to get this for free.</p>
        {%- else -%}
          {%- if record.is_tna -%}
            <p><strong>No.</strong> This record has not been digitised and cannot be downloaded.</p>
            <p>However, you can buy a copy or <a href="#">order it</a> in advance to be ready for you when you visit Kew.</p>
          {%- else -%}
            <p><strong>No.</strong>
              {%- if record.held_by %}
                This record is held by {{ record.held_by }}.
              {%- endif -%}
            </p>
            <p><a href="#">See contact details.</a></p>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      <div class="tna-aside tna-aside--tight tna-background-contrast full-height-aside">
        <h2 class="tna-heading-m">What to do next</h2>
        {%- if record.is_digitised and record.hierarchy_series %}
          <p>Find out more about this <a href="{{ record.hierarchy_series.url }}">series</a>.</p>
        {%- else -%}
          {%- if record.is_tna -%}
            <p><a href="#">Order it</a> and plan your visit to Kew.</p>
            {%- if record.hierarchy_series %}
              <p>Read more about <a href="{{ record.hierarchy_series.url }}">series</a> this record is from.</p>
            {%- endif -%}
          {%- else -%}
             <p>Find out more about the records held at {{ record.held_by }}.</p>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>
{% endmacro %}
