{% macro related_records_block(record) %}
<div class="tna-container">
  <div class="tna-column tna-column--full tna-!--margin-top-l">
    <h2 class="tna-heading-l">Related records</h2>
  </div>
</div>
  <div class="tna-container">
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      <div class="tna-aside tna-aside--tight tna-background-accent full-height-aside">
        <hgroup class="tna-hgroup-m">
          <p class="tna-hgroup__supertitle">SERIES</p>
          <h3 class="tna-hgroup__title"><a href="">Copyright Office: Entry forms, etc</a></h3>
        </hgroup>
        <p>Catalogue reference : COPY 1/280</p>
        <p>The original forms of application for the registration of proprietorship at Stationers' Hall undeer the Copyright Acts in force from 1842 to 1912...</p>
        <p><a href="">See more</a></p>
     </div>
    </div>
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      <div class="tna-aside tna-aside--tight tna-background-accent full-height-aside">
        <hgroup class="tna-hgroup-m">
          <p class="tna-hgroup__supertitle">ITEM</p>
          <h3 class="tna-hgroup__title"><a href="">Paintings and drawings</a></h3>
        </hgroup>
        <p>Catalogue reference : COPY 1/281</p>
        <p>Paintings and Drawings Commercial, 1909 May.</p>
        <p><a href="">See more</a></p>
     </div>
    </div>
    <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-m">
      <div class="tna-aside tna-aside--tight tna-background-accent full-height-aside">
        <hgroup class="tna-hgroup-m">
          <p class="tna-hgroup__supertitle">ITEM</p>
          <h3 class="tna-hgroup__title"><a href="">Paintings and drawings</a></h3>
        </hgroup>
        <p>Catalogue reference : COPY 1/281</p>
        <p>Paintings and Drawings Commercial, 1909 May.</p>
        <p><a href="">See more</a></p>
     </div>
    </div>
  </div>
{% endmacro %}
