{% from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs %}
{% from 'components/secondary-navigation/macro.html' import tnaSecondaryNavigation %}

{% macro top_navigation(record, request) %}
<div class="tna-background-tint">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
    {% if request.GET.get('search') %}
      <div class="back-link-group tna-!--padding-top-s tna-!--padding-bottom-s">
        <a href="{{ url('search:catalogue') }}?{{ request.GET.get('search') | base64_decode }}" class="back-link">
          <i class="fa-solid fa-chevron-left back-link__icon" aria-hidden="true"></i>
          <span class="back-link__text">Back to search results</span>
        </a>
        <a href="{{ url('search:catalogue') }}" class="back-link">
          <i class="fa-solid fa-search back-link__icon" aria-hidden="true"></i>
          <span class="back-link__text">Start a new search</span>
        </a>
      </div>
    {% else %}
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          },
          {
            'text': 'Catalogue',
            'href': url('main:catalogue')
          },
          {
            'text': 'Search',
            'href': url('search:catalogue')
          }
        ],
        'structuredData': True,
        'classes': 'tna-!--padding-vertical-s'
      }) }}
    {% endif %}
      {% set record_details_path = url('records:details', kwargs={'id': record.iaid}) %}
      {% set related_records_path = url('records:related', kwargs={'id': record.iaid}) %}
      {% set help_path = url('records:help', kwargs={'id': record.iaid}) %}
      {% if request.GET.get('search') %}
        {% set record_details_path = record_details_path + '?search=' + request.GET.get('search') %}
        {% set related_records_path = related_records_path + '?search=' + request.GET.get('search') %}
        {% set help_path = help_path + '?search=' + request.GET.get('search') %}
      {% endif %}
      {{ tnaSecondaryNavigation({
        'title': 'Sections',
        'headingLevel': 2,
        'items': [
          {
            'name': 'About this record',
            'href': record_details_path,
            'current': record_details_path == request.get_full_path()
          },
          {
            'name': 'Related records',
            'href': related_records_path,
            'current': related_records_path == request.get_full_path()
          },
          {
            'name': 'New to archives?',
            'href': help_path,
            'current': help_path == request.get_full_path()
          }
        ],
        'noBottomBorder': True,
        'visuallyHideHeading': True,
        'classes': 'tna-!--margin-top-s'
      }) }}
    </div>
  </div>
</div>
{% endmacro %}
