{% from 'components/secondary-navigation/macro.html' import tnaSecondaryNavigation %}

{% macro top_navigation(record, request) %}
<div class="tna-background-tint">
  <div class="tna-container">
    <div class="tna-column tna-column--full tna-!--padding-top-s">
      <div class="back-link-group">
        <a href="#" class="back-link">
          <i class="fa-solid fa-chevron-left back-link__icon" aria-hidden="true"></i>
          <span class="back-link__text">Back to search results</span>
        </a>
        <a href="#" class="back-link">
          <i class="fa-solid fa-search back-link__icon" aria-hidden="true"></i>
          <span class="back-link__text">Start a new search</span>
        </a>
      </div>
      {% set record_details_path = url('records:record_details', kwargs={'id': record.iaid}) %}
      {% set related_records_path = url('records:related_records', kwargs={'id': record.iaid}) %}
      {% set help_path = url('records:records_help', kwargs={'id': record.iaid}) %}
      {{ tnaSecondaryNavigation({
        'title': 'Sections',
        'headingLevel': 2,
        'items': [
          {
            'name': 'About this record',
            'href': record_details_path,
            'current': record_details_path == request.path
          },
          {
            'name': 'Related records',
            'href': related_records_path,
            'current': related_records_path == request.path
          },
          {
            'name': 'New to archives?',
            'href': help_path,
            'current': help_path == request.path
          }
        ],
        'noBottomBorder': True,
        'visuallyHideHeading': True,
        'classes': 'tna-!--margin-top-m'
      }) }}
    </div>
  </div>
</div>
{% endmacro %}
