{% macro whats_it_about(record) %}
  {# TODO: Hard coding of levels to remove once we have content for whats_it_about block #}
  {% if record.is_tna and record.level in ["Series", "Division", "Department"] %}
    <div class="tna-container tna-!--margin-top-m">
      <div class="tna-column tna-column--full">
        <div class="tna-!--padding-vertical-m tna-background-accent etna-rounded-corners">
          <div class="tna-container">
            <div class="tna-column tna-column--full">
              <h2 class="tna-heading-l">What's it about?</h2>
            </div>
            <div class="tna-column tna-column--align-centre tna-!--margin-top-xs">
              <div class="square tna-background-contrast">
                <p class="tna-heading-m">HMC 1</p>
              </div>
            </div>
            <div class="tna-column tna-column--flex-1 tna-column--full-small tna-column--full-tiny tna-column--align-centre tna-!--margin-top-xs">
              <p>This series contains the early records of the Royal Commission. They include registers of correspondence, drafts of reports, correspondence and papers for Commissioners' meetings and the files of the Commission's correspondence. It contains 374 files and volumes.</p>
              <p>
                <strong><a href="#">View all records in this series</a></strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}