{% extends 'base.html' %}

{% from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs %}
{% from 'components/button/macro.html' import tnaButton %}
{% from 'components/card/macro.html' import tnaCard %}
{% from 'components/checkboxes/macro.html' import tnaCheckboxes %}
{% from 'components/compound-filters/macro.html' import tnaCompoundFilters %}
{% from 'components/date-search/macro.html' import tnaDateSearch %}
{% from 'components/pagination/macro.html' import tnaPagination %}
{% from 'components/search-field/macro.html' import tnaSearchField %}
{% from 'components/secondary-navigation/macro.html' import tnaSecondaryNavigation %}
{% from 'components/select/macro.html' import tnaSelect %}
{% from 'components/skip-link/macro.html' import tnaSkipLink %}
{% from 'components/text-input/macro.html' import tnaTextInput %}

{% from 'search/macros/filters/search_within.html' import search_within %}
{% from 'search/macros/filters/date_range.html' import date_range %}
{% from 'search/macros/filters/levels_tna.html' import levels_tna %}
{% from 'search/macros/filters/closure_statuses_tna.html' import closure_statuses_tna %}
{% from 'search/macros/filters/opening_date.html' import opening_date %}
{% from 'search/macros/filters/collections_tna.html' import collections_tna %}
{% from 'search/macros/filters/online_tna.html' import online_tna %}

{%- set pageTitle = 'Catalogue search results' -%}
{%- set encodedQuery = request.GET.urlencode() | base64_encode -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ static('catalogue-results.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block skipLink %}
{% if results %}
{{ tnaSkipLink({
  href: 'results',
  text: 'Skip to results'
}) }}
{% endif %}
{{ super() }}
{% endblock %}

{% block beforeContent %}
<div class="tna-background-accent">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          },
          {
            'text': 'Catalogue',
            'href': url('main:catalogue')
          }
        ],
        'structuredData': True,
        'classes': 'tna-!--padding-vertical-s'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="tna-background-accent tna-!--padding-top-s">
  <div class="tna-container">
    <form id="search-form" method="get" class="tna-column tna-column--full">
      {{ tnaSearchField({
        'label': pageTitle,
        'headingLevel': 1,
        'headingSize': 'l',
        'id': 'search',
        'name':  form.fields.q.name,
        'value': form.fields.q.value
      }) }}
      <!-- <div class="tna-button-group tna-!--margin-top-xs">
        {{ tnaButton({
          'text': 'Start new search',
          'href': '?',
          'plain': True,
          'small': True
        }) }}
      </div> -->
      <input type="hidden" name="display" value="{{ request.GET.get('display') or 'list' }}">
      <input type="hidden" name="group" value="{{ request.GET.get('group') or bucket_keys.TNA }}">
    </form>
    <div class="tna-column tna-column--full">
      {{ tnaSecondaryNavigation({
        'title': 'Sections',
        'headingLevel': 2,
        'items': bucket_list.items,
        'noBottomBorder': True,
        'visuallyHideHeading': True,
        'classes': 'tna-!--margin-top-m'
      }) }}
    </div>
  </div>
</div>
<div class="tna-container">
  <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <h2 class="tna-heading-l">Filters</h2>
    {% if selected_filters %}
        <div class="tna-aside tna-aside--tight tna-background-accent-light tna-!--margin-top-s">
            <h3 class="tna-heading-m">Active filters {% if selected_filters %} ({{ selected_filters | length }}){% endif %}:</h3>
            {{ tnaCompoundFilters({
              'items': selected_filters,
              'removeAllHref': url('search:catalogue') + '?q=' + form.fields.q.value + '&display=' + (request.GET.get('display') or ''),
              'removeAllText': 'Reset filters',
              'classes': 'tna-!--margin-top-s'
            }) }}
        </div>
    {% endif %}
    {{ online_tna(request, is_tna_results_page=(form.fields.group.value==bucket_keys.TNA)) }}
    {{ search_within(request) }}
    {{ date_range(request, 'date', 'date', 'Filter by record date') }}
    {{ levels_tna(request, form.fields['level']) }}
    {{ closure_statuses_tna(request, closure_statuses) }}
    {{ date_range(request, 'date', 'date', 'Filter by record opening date') }}
    {{ collections_tna(request, collections) }}
  </div>
  {% if results %}
  <div id="results" class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-container tna-container--nested">
      {% if stats %}
      <div class="tna-column tna-column--flex-1 tna-column--full-tiny">Showing results {{ results_range.from | format_number }}–{{ results_range.to | format_number }} of {{ stats.total | format_number }}</div>
      {% endif %}
      <div class="tna-column tna-column--full-tiny">
        {{ tnaSelect({
          'label': 'Sort by',
          'headingLevel': 2,
          'headingSize': 's',
          'id': 'sort',
          'name': form.fields.sort.name,
          'items': form.fields.sort.items,
          'selected': form.fields.sort.value,
          'formGroupAttributes': {
            'id': 'sort-form-group'
          },
          'attributes': {
            'form': 'search-form'
          }
        }) }}
        <div class="tna-button-group tna-button-group--small tna-!--margin-top-xs">
          {{ tnaButton({
            'text': 'Apply',
            'buttonElement': True,
            'buttonType': 'submit',
            'small': True,
            'attributes': {
              'form': 'search-form'
            }
          }) }}
        </div>
      </div>
      <div class="tna-column tna-column--full-tiny">
        <h2 class="tna-visually-hidden">Results layout</h2>
        <div class="tna-button-group tna-button-group--small tna-!--no-margin-top">
          {{ tnaButton({
            'text': 'List',
            'href': '?' + qs_replace_value(request.GET, 'display', 'list'),
            'small': True,
            'icon': 'list',
            'iconOnly': True
          }) }}
          {{ tnaButton({
            'text': 'Grid',
            'href': '?' + qs_replace_value(request.GET, 'display', 'grid'),
            'small': True,
            'icon': 'grip',
            'iconOnly': True
          }) }}
        </div>
      </div>
    </div>
    <h2 class="tna-visually-hidden">Results</h2>
    {% if request.GET.get('display') == 'grid' %}
      <ul class="tna-container tna-container--nested">
        {% for record in results %}
          <li class="tna-column tna-column--width-1-2 tna-column--full-tiny tna-!--margin-top-l">
            {{ tnaCard({
              'title': record.summary_title,
              'headingLevel': 3,
              'headingSize': 's',
              'href': url('records:details', kwargs={'id': record.iaid}) + '?search=' + encodedQuery,
              'meta': [
                {
                  'title': 'Held by',
                  'text': record.held_by,
                  'icon': 'building'
                },
                {
                  'title': 'Date',
                  'text': record.date_covering,
                  'icon': 'calendar'
                },
                {
                  'title': 'Reference',
                  'text': record.reference_number,
                  'icon': 'hashtag'
                }
              ],
              'body': record.description | safe,
              'fullAreaClick': True,
              'attributes': {
                'id': 'record-' + record.iaid
              }
            }) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {% for record in results %}
      {{ tnaCard({
        'title': record.summary_title,
        'headingLevel': 3,
        'headingSize': 'm',
        'href': url('records:details', kwargs={'id': record.iaid}) + '?search=' + encodedQuery,
        'body': (record.description + '<dl class="tna-dl tna-dl--plain"><dt>Held by</dt><dd>' + record.held_by + '</dd><dt>Date</dt><dd>' + record.date_covering + '</dd><dt>Reference</dt><dd>' + record.reference_number + '</dd></dl>') | safe,
        'fullAreaClick': True,
        'attributes': {
          'id': 'record-' + record.iaid
        }
      }) }}
      {% endfor %}
    {% endif %}
  </div>
  <div class="tna-column tna-column--full tna-!--margin-top-l">
    {{ tnaPagination(pagination) }}
  </div>
  {% else %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <h2 class="tna-heading-xl">No results found</h2>
    <p>No results were found for your query.</p>
    <p>Try widening your search.</p>
    
    {# TODO: Error logging is temporary for demo and must be formalised #}
    {% if form.errors %}
      <h4>Form Errors<h4>
      <dl class="tna-dl">
        <dt>Param/ErrorName</dt>
        <dd>Value</dd>
        {% for field, error in form.errors.items() %}
          {% if field == 'NONFIELDERRORS'%}
            {% for message in error %}
              <dt>{{ field }}</dt>
              <dd>{{ message.text }}</dd>
            {% endfor %}
          {% else %}
            <dt>{{ field }}</dt>
            <dd>{{ error.text }}</dd>
          {% endif %}
        {% endfor %}
      </dl>
    {% endif %}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    <script src="{{ static('catalogue-results.min.js') }}?v={{ app_config.BUILD_VERSION }}" defer></script>
{% endblock %}
