{% extends 'base.html' %}

{% from 'components/breadcrumbs/macro.html' import tnaBreadcrumbs %}
{% from 'components/button/macro.html' import tnaButton %}
{% from 'components/card/macro.html' import tnaCard %}
{% from 'components/pagination/macro.html' import tnaPagination %}
{% from 'components/search-field/macro.html' import tnaSearchField %}
{% from 'components/secondary-navigation/macro.html' import tnaSecondaryNavigation %}
{% from 'components/select/macro.html' import tnaSelect %}
{% from 'components/text-input/macro.html' import tnaTextInput %}

{%- set pageTitle = 'Catalogue search results' -%}
{%- set encodedQuery = request.GET.urlencode() | base64_encode -%}

{% block stylesheets %}
{{ super() }}
    <link rel="stylesheet" href="{{ static('catalogue-results.css') }}?v={{ app_config.BUILD_VERSION }}" media="screen,print">
{% endblock %}

{% block beforeContent %}
<div class="tna-background-accent">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          },
          {
            'text': 'Catalogue',
            'href': url('main:catalogue')
          }
        ],
        'structuredData': True,
        'classes': 'tna-!--padding-vertical-s'
      }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="tna-background-accent tna-!--padding-top-s">
  <div class="tna-container">
    <form id="search-form" method="get" class="tna-column tna-column--full">
      <input type="hidden" name="display" value="{{ request.GET.get('display') or '' }}">
      {{ tnaSearchField({
        'label': pageTitle,
        'headingLevel': 1,
        'headingSize': 'l',
        'id': 'search',
        'name': 'q',
        'value': request.GET.get('q') or ''
      }) }}
      <!-- <div class="tna-button-group tna-!--margin-top-xs">
        {{ tnaButton({
          'text': 'Start new search',
          'href': '?',
          'plain': True,
          'small': True
        }) }}
      </div> -->
    </form>
    <div class="tna-column tna-column--full">
      {{ tnaSecondaryNavigation({
        'title': 'Sections',
        'headingLevel': 2,
        'items': [
          {
            'name': 'Records at The National Archives (24,521,292)',
            'href': '#',
            'current': True
          },
          {
            'name': 'Online records at The National Archives (9,041,961)',
            'href': '#'
          },
          {
            'name': 'Records at other UK archives (10,758,426)',
            'href': '#'
          }
        ],
        'noBottomBorder': True,
        'visuallyHideHeading': True,
        'classes': 'tna-!--margin-top-m'
      }) }}
    </div>
  </div>
</div>
<div class="tna-container">
  <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <h2 class="tna-heading-m">Filters</h2>
    {{ tnaTextInput({
      'label': 'Search within results',
      'headingLevel': 3,
      'headingSize': 's',
      'id': 'search-within',
      'name': 'search_within',
      'value': request.GET.get('search_within') or '',
      'attributes': {
        'form': 'search-form'
      }
    }) }}
    <div class="tna-button-group tna-!--margin-top-xs">
      {{ tnaButton({
        'text': 'Submit',
        'buttonElement': True,
        'buttonType': 'submit',
        'small': True,
        'attributes': {
          'form': 'search-form'
        }
      }) }}
    </div>
  </div>
  {% if results %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-container tna-container--nested">
      {% if stats %}
      <div class="tna-column tna-column--flex-1 tna-column--full-tiny">Showing results {{ results_range.from | format_number }}–{{ results_range.to | format_number }} of {{ stats.total | format_number }}</div>
      {% endif %}
      <div class="tna-column tna-column--full-tiny">
        {{ tnaSelect({
          'label': 'Sort by',
          'headingLevel': 2,
          'headingSize': 's',
          'id': 'sort',
          'name': 'sort',
          'items': [
            {
              'text': 'Relevance',
              'value': 'relevance'
            },
            {
              'text': 'Date',
              'value': 'date'
            },
            {
              'text': 'Title',
              'value': 'title'
            }
          ],
          'selected': request.GET.get('sort'),
          'inline': True,
          'attributes': {
            'form': 'search-form'
          }
        }) }}
        <div class="tna-button-group tna-button-group--small tna-!--margin-top-xs">
          {{ tnaButton({
            'text': 'Apply',
            'buttonElement': True,
            'buttonType': 'submit',
            'small': True,
            'attributes': {
              'form': 'search-form'
            }
          }) }}
        </div>
      </div>
      <div class="tna-column tna-column--full-tiny">
        <div class="tna-button-group tna-button-group--small">
          {{ tnaButton({
            'text': 'List',
            'href': '?' + qs_toggle_value(request.GET, 'display', 'list'),
            'small': True,
            'icon': 'list',
            'iconOnly': True
          }) }}
          {{ tnaButton({
            'text': 'Grid',
            'href': '?' + qs_toggle_value(request.GET, 'display', 'grid'),
            'small': True,
            'icon': 'grip',
            'iconOnly': True
          }) }}
        </div>
      </div>
    </div>
    <h2 class="tna-visually-hidden">Results</h2>
    {% if request.GET.get('display') == 'grid' %}
      <ul class="tna-container tna-container--nested">
        {% for record in results %}
          <li class="tna-column tna-column--width-1-2 tna-column--full-tiny tna-!--margin-top-l">
            {{ tnaCard({
              'title': record.summary_title,
              'headingLevel': 3,
              'headingSize': 's',
              'href': url('records:details', kwargs={'id': record.iaid}) + '?search=' + encodedQuery,
              'meta': [
                {
                  'title': 'Held by',
                  'text': record.held_by
                },
                {
                  'title': 'Date',
                  'text': record.date_covering
                },
                {
                  'title': 'Reference',
                  'text': record.reference_number
                }
              ],
              'body': record.description | safe,
              'fullAreaClick': True,
              'attributes': {
                'id': 'record-' + record.iaid
              }
            }) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {% for record in results %}
      {{ tnaCard({
        'title': record.summary_title,
        'headingLevel': 3,
        'headingSize': 'm',
        'href': url('records:details', kwargs={'id': record.iaid}) + '?search=' + encodedQuery,
        'body': (record.description + '<dl class="tna-dl tna-dl--plain"><dt>Held by</dt><dd>' + record.held_by + '</dd><dt>Date</dt><dd>' + record.date_covering + '</dd><dt>Reference</dt><dd>' + record.reference_number + '</dd></dl>') | safe,
        'fullAreaClick': True,
        'attributes': {
          'id': 'record-' + record.iaid
        }
      }) }}
      {% endfor %}
    {% endif %}
  </div>
  <div class="tna-column tna-column--full tna-!--margin-top-l">
    {{ tnaPagination(pagination) }}
  </div>
  {% else %}
  <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <h2 class="tna-heading-xl">No results found</h2>
    <p>No results were found for your query.</p>
    <p>Try widening your search.</p>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
    <script src="{{ static('catalogue-results.min.js') }}?v={{ app_config.BUILD_VERSION }}" defer></script>
{% endblock %}
